# Dependencies
node_modules/
.venv/
__pycache__/

# Environments 
.env
*.env.local

# Build outputs
dist/
.angular/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Supabase
backend/supabase/.branches
backend/supabase/.temp